---
layout: default
---

<!-- Intro -->
<section id="home" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h1>{{ site.title }}</h1>
        <p>Somos una empresa con más de 10 años en el mercado aéreo colombiano, somos especialistas en la venta de componentes eléctricos y electrónicos e insumos, contamos con experiencia y conocimientos en sistemas de navegación, sistemas eléctricos y de comunicación. 
    </div>
</section>

<!-- Quienes somos -->
<section id="quienes_somos" class="wrapper style2 spotlights">
    <section>
        <!-- <a href="#quienes_somos" class="image"></a> -->
        <img src="assets/css/images/avion.png" alt="icono de avion" data-position="center center" />
        <div class="content">
            <div class="inner">
                <h2>¿QUIÉNES SOMOS?</h2>
                <p style="font-family: 'Fira Sans Condensed', sans-serif;">Somos una compañía dedicada a la compra y venta partes, equipos y demás suministros eléctricos y electrónicos, para ser instalados en todo tipo de aeronaves, ya sean Militares o Civiles. Contamos con un amplio conocimiento en aviónica con más de 30 años de experiencia en el mercado aeronáutico, estamos ubicados en la ciudad de Chía, Cundinamarca, cerca al Aeropuerto de Guaymaral.  Algunos de nuestros clientes son estaciones reparadoras, empresas de transporte privado, operadores de helicópteros, escuelas de aviación. En nuestro ánimo de crecimiento buscamos cada día proveedores que puedan satisfacer las necesidades que nuestro mercado aeronáutico requiere, además de precios competitivos</p>
            </div>
        </div>
    </section>
</section>

<!-- Que hacemos -->
<section id='que_hacemos'>
    <div id='head-sec'>
        <div>
            <img src="/assets/css/images/helicoptero.png" alt="icono de helicoptero">
        </div>
        <div>
            <h2>¿Qué hacemos?</h2>
        </div>
    </div>
    <div id="body-sec"">
        <div>
            <img src="/assets/css/images/componentes electricos.png" alt="Componentes eléctricos">
            <h3>Componentes eléctricos</h3>
        </div>
        <div>
            <img src="/assets/css/images/componentes electronicos.png" alt="Componentes electrónicos">
            <h3>Componentes electrónicos</h3>
        </div>
    </div>

    <div id="body-sec"">
        <div>
            <img src="/assets/css/images/herramientas.png" alt="Herramientas">
            <h3>Herramientas</h3>
        </div>
        <div>
            <img src="/assets/css/images/drones.png" alt="Drones">
            <h3>Drones</h3>
        </div>
    </div>
</section>

<!--Como comprar-->
<section id="como-comprar">
    <h2>Proceso de compra</h2>
    <div>
        <div>
            <img src="/assets/css/images/icono de contacto.png" alt="primero contactanos">
            <h3>1. Contácto</h3>
            <p>Por medio de nuestros canales de
                comunicación pueden acceder a más
                información sobre nuestros servicios</p>
        </div>
        <div>
            <img src="/assets/css/images/icono de cotizacion.png" alt="segundo, te hacemos la cotización">
            <h3>2. Cotización</h3>
            <p>La respuesta a tu cotización está
                sujeta al tiempo determinado por el
                cliente y la cantidad de ítems</p>
        </div>
        <div>
            <img src="/assets/css/images/icono de compra.png" alt="tercero, has la compra!">
            <h3>3. Compra</h3>
            <p>La compra de los productos esta sujeta a
                disponibilidad y envió y requerimientos
                especiales determinados por nuestros
                proveedores</p>
        </div>
        <div>
            <img src="/assets/css/images/icono de recibido .png" alt="cuarto, recibimos y rebisamos tu compra">
            <h3>4. Recepción y revisión</h3>
            <p>Realizamos un exhaustivo control de
                calidad a nuestros productos también
                documentamos y se certifican los mismo
                de acuerdo con la norma aeronáutica.</p>
        </div>
        <div>
            <img src="/assets/css/images/iconoc de doumentacion.png" alt="quinto, comprobamos los documentos y componentes recibidos">
            <h3>5. Control calidad</h3>
            <p>El recibo de nuestros productos esta
                estipulado entre 5 a 15 días depen-
                diendo de la disponibilidad.</p>
        </div>
        <div>
            <img src="/assets/css/images/icono de logistica .png" alt="sexto, despachamos tu envio a donde lo necesites">
            <h3>6. Logística</h3>
            <p>La entrega de los productos está
                estipulada en la orden de compra.</p>
        </div>
    </div>
</section>

<!--contacto-->
<section id="contacto">
    <div>
        <div id="contac-head">
            
        </div>
        <div id="contact-body">

        </div>
    </div>
</section>