---
layout: default
---

<!-- Intro -->
<section id="home" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h1>{{ site.title }}</h1>
        <p>Somos una empresa con más de 10 años en el mercado aéreo colombiano, somos especialistas en la venta de componentes eléctricos y electrónicos e insumos, contamos con experiencia y conocimientos en sistemas de navegación, sistemas eléctricos y de comunicación. 
    </div>
</section>

<!-- Quienes somos -->
<section id="quienes_somos" class="wrapper style2 spotlights">
    <section>
        <!-- <a href="#quienes_somos" class="image"></a> -->
        <img src="assets/css/images/avion.png" alt="icono de avion" data-position="center center" />
        <div class="content">
            <div class="inner">
                <h2>¿QUIÉNES SOMOS?</h2>
                <p style="font-family: 'Fira Sans Condensed', sans-serif;">Somos una compañía dedicada a la compra y venta partes, equipos y demás suministros eléctricos y electrónicos, para ser instalados en todo tipo de aeronaves, ya sean Militares o Civiles. Contamos con un amplio conocimiento en aviónica con más de 30 años de experiencia en el mercado aeronáutico, estamos ubicados en la ciudad de Chía, Cundinamarca, cerca al Aeropuerto de Guaymaral.  Algunos de nuestros clientes son estaciones reparadoras, empresas de transporte privado, operadores de helicópteros, escuelas de aviación. En nuestro ánimo de crecimiento buscamos cada día proveedores que puedan satisfacer las necesidades que nuestro mercado aeronáutico requiere, además de precios competitivos</p>
            </div>
        </div>
    </section>
</section>

<!-- Que hacemos -->
<section id='que_hacemos'>
    <div id='head-sec'>
        <div>
            <img src="/assets/css/images/helicoptero.png" alt="icono de helicoptero">
        </div>
        <div>
            <h2>¿Qué hacemos?</h2>
        </div>
    </div>
    <div id="body-sec"">
        <div>
            <img src="/assets/css/images/componentes electricos.png" alt="Componentes eléctricos">
            <h3>Componentes eléctricos</h3>
        </div>
        <div>
            <img src="/assets/css/images/componentes electronicos.png" alt="Componentes electrónicos">
            <h3>Componentes electrónicos</h3>
        </div>
    </div>

    <div id="body-sec"">
        <div>
            <img src="/assets/css/images/herramientas.png" alt="Herramientas">
            <h3>Herramientas</h3>
        </div>
        <div>
            <img src="/assets/css/images/drones.png" alt="Drones">
            <h3>Drones</h3>
        </div>
    </div>
</section>