---
layout: default
---

<!-- Intro -->
<section id="home" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h1>{{ site.title }}</h1>
        <p>Somos una empresa con más de 10 años en el mercado aéreo colombiano, somos especialistas en la venta de componentes eléctricos y electrónicos e insumos, contamos con experiencia y conocimientos en sistemas de navegación, sistemas eléctricos y de comunicación. 
    </div>
</section>

<!-- Quienes somos -->
<section id="quienes_somos" class="wrapper style2 spotlights">
    <section>
        <!-- <a href="#quienes_somos" class="image"></a> -->
        <img src="assets/css/images/avion.png" alt="icono de avion" data-position="center center" />
        <div class="content">
            <div class="inner">
                <h2>¿QUIÉNES SOMOS?</h2>
                <p style="font-family: 'Fira Sans Condensed', sans-serif;">Somos una compañía dedicada a la compra y venta partes, equipos y demás suministros eléctricos y electrónicos, para ser instalados en todo tipo de aeronaves, ya sean Militares o Civiles. Contamos con un amplio conocimiento en aviónica con más de 30 años de experiencia en el mercado aeronáutico, estamos ubicados en la ciudad de Chía, Cundinamarca, cerca al Aeropuerto de Guaymaral.  Algunos de nuestros clientes son estaciones reparadoras, empresas de transporte privado, operadores de helicópteros, escuelas de aviación. En nuestro ánimo de crecimiento buscamos cada día proveedores que puedan satisfacer las necesidades que nuestro mercado aeronáutico requiere, además de precios competitivos</p>
            </div>
        </div>
    </section>
</section>

<!-- Que hacemos -->
<section id="que_hacemos" class="wrapper style3 fade-up">
    <section>
        <img src="assets/css/images/helicoptero.png" alt="icono de helicoptero" data-position="center center" />
        <h2>¿QUÉ HACEMOS?</h2>
    </section>

    <div id="div_qh" class="inner">
        <div>
            <section class="opc1">
                <span>
                    <img src="assets/css/images/componentes electricos.png" alt="">
                </span>
                <h3>componentes eléctricos</h3>
            </section>
            
            <section class="opc1">
                <span>
                    <img src="assets/css/images/componentes electronicos.png" alt="icono de componentes electrónicos">
                </span>
                <h3>componentes electrónicos</h3>
            </section>

            <section class="opc1">
                <span>
                    <img src="assets/css/images/herramientas.png" alt="icono de herramientas">
                </span>
                <h3>herramientas</h3>
            </section>

            <section class="opc1">
                <span>
                    <img src="assets/css/images/drones.png" alt="icono de drones">
                </span>
                <h3>Drones</h3>
            </section>
        </div>
    </div>
</section>

<!-- Como comprar -->
<section id="como_comprar" class="wrapper fade-up">
    
    <div>
        <h2>Proceso de compra</h2>
    </div>

    <div id="compra-process" class="inner">
        <div>
            <img src="/assets/css/images/icono de contacto.png" alt="Contáctanos">
            <h3>Contáctanos</h3>
            <p>Por medio de nuestros canales de comunicación pueden acceder a más información sobre nuestros servicios</p>
        </div>

        <div>
            <img src="/assets/css/images/icono de cotizacion.png" alt="Cotización">
            <h3>Cotización</h3>
            <p>La respuesta a tu cotización está
                sujeta al tiempo determinado por el
                cliente y la cantidad de ítems</p>
        </div>

        <div>
            <img src="/assets/css/images/icono de compra.png" alt="Compra">
            <h3>Compra</h3>
            <p>La compra de los productos esta sujeta a
                disponibilidad y envió y requerimientos
                especiales determinados por nuestros
                proveedores</p>
        </div>
    </div>

    <div id="compra-process" class="inner" style="padding-bottom: 5%;">
        <div>
            <img src="/assets/css/images/icono de recibido .png" alt="Recibio y revisión">
            <h3>Recibo y revisión</h3>
            <p>Realizamos un exhaustivo control de
                calidad a nuestros productos también
                documentamos y se certifican los mismo
                de acuerdo con la norma aeronáutica.</p>
        </div>

        <div>
            <img src="/assets/css/images/iconoc de doumentacion.png" alt="Control calidad">
            <h3>Control calidad</h3>
            <p>El recibo de nuestros productos esta
                estipulado entre 5 a 15 días depen-
                diendo de la disponibilidad.</p>
        </div>

        <div>
            <img src="/assets/css/images/icono de logistica .png" alt="Logística">
            <h3>Logística</h3>
            <p>La entrega de los productos está
                estipulada en la orden de compra.</p>
        </div>
    </div>
</section>